n8n-workflows/DEMO_Chatbot_Estetica_Testar_Bot_WhatsApp_IA.json
{
  "name": "DEMO_Chatbot_Estetica_Testar_Bot_WhatsApp_IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "testar-bot-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook – Testar Bot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "demo-chatbot-estetica"
    },
    {
      "parameters": {
        "jsCode": "// FASE 1: Parse da mensagem recebida do WhatsApp Cloud API\n// Extrai o número do remetente e o texto da mensagem\n\nconst body = $input.item.json.body;\n\n// Verifica se é uma mensagem válida\nif (!body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]) {\n  return {\n    json: {\n      error: true,\n      message: 'Payload inválido do WhatsApp'\n    }\n  };\n}\n\nconst message = body.entry[0].changes[0].value.messages[0];\n\n// Verifica se é mensagem de texto\nif (message.type !== 'text') {\n  return {\n    json: {\n      whatsapp: message.from,\n      userMessage: '',\n      isTextMessage: false,\n      errorReply: 'Por agora só entendo mensagens de texto 😊'\n    }\n  };\n}\n\n// Normaliza o número de telefone (remove +, espaços, etc.)\nlet phoneNumber = message.from.replace(/[^0-9]/g, '');\n\n// Garante formato 3519XXXXXXXX (se começar com 9, adiciona 351)\nif (phoneNumber.startsWith('9') && phoneNumber.length === 9) {\n  phoneNumber = '351' + phoneNumber;\n}\n\n// Extrai o texto da mensagem\nconst messageText = message.text.body.trim();\n\nreturn {\n  json: {\n    whatsapp: phoneNumber,\n    userMessage: messageText,\n    isTextMessage: true,\n    rawFrom: message.from\n  }\n};"
      },
      "id": "node-parse-message",
      "name": "Code – Parse WhatsApp Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "Bot_Demo_Chatbot_Estetica",
          "mode": "list",
          "cachedResultName": "Bot_Demo_Chatbot_Estetica"
        },
        "sheetName": {
          "__rl": true,
          "value": "sessoes_bot",
          "mode": "list",
          "cachedResultName": "sessoes_bot"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "whatsapp": "={{ $json.whatsapp }}"
          },
          "matchingColumns": ["whatsapp"],
          "schema": [
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "servico",
              "displayName": "servico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "slot",
              "displayName": "slot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "historico",
              "displayName": "historico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {
          "dataMode": "autoMapInputData"
        }
      },
      "id": "node-get-session",
      "name": "Google Sheets – Get/Upsert Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-oauth",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FASE 2: Preparar input para o LLM\n// Constrói histórico de conversa e contexto para a IA\n\nconst userMessage = $input.item.json.userMessage;\nconst whatsapp = $input.item.json.whatsapp;\n\n// Recupera dados da sessão do Google Sheets\nconst estado = $input.item.json.estado || 'inicio';\nconst servico = $input.item.json.servico || '';\nconst slot = $input.item.json.slot || '';\nconst historicoStr = $input.item.json.historico || '[]';\n\n// Parse do histórico (array de mensagens)\nlet historico = [];\ntry {\n  historico = JSON.parse(historicoStr);\n  if (!Array.isArray(historico)) {\n    historico = [];\n  }\n} catch (e) {\n  historico = [];\n}\n\n// Adiciona a mensagem atual do utilizador ao histórico\nhistorico.push({\n  role: 'user',\n  content: userMessage\n});\n\n// Serviços disponíveis (catálogo demo)\nconst servicosDisponiveis = [\n  { nome: 'Limpeza de Pele', duracao: '60 min', preco: '€45' },\n  { nome: 'Massagem Relaxante', duracao: '50 min', preco: '€50' },\n  { nome: 'Tratamento Facial Anti-idade', duracao: '75 min', preco: '€70' },\n  { nome: 'Depilação a Laser', duracao: '30 min', preco: '€60' },\n  { nome: 'Manicure e Pedicure', duracao: '60 min', preco: '€35' }\n];\n\n// Gera 3 slots de horário demo disponíveis\n// (numa implementação real, isto viria de um calendário real)\nconst hoje = new Date();\nconst slots = [];\nfor (let i = 1; i <= 3; i++) {\n  const data = new Date(hoje);\n  data.setDate(data.getDate() + i);\n  const hora = 10 + (i * 2); // 12h, 14h, 16h\n  const slotText = `${data.getDate()}/${data.getMonth() + 1} às ${hora}:00`;\n  slots.push(slotText);\n}\n\n// Monta o payload para o LLM\nconst llmPayload = {\n  state: estado,\n  service: servico,\n  slot: slot,\n  messages: historico,\n  context: {\n    servicosDisponiveis,\n    slotsDisponiveis: slots\n  }\n};\n\nreturn {\n  json: {\n    whatsapp,\n    userMessage,\n    estado,\n    servico,\n    slot,\n    historico: historicoStr,\n    llmPayload,\n    servicosDisponiveis,\n    slotsDisponiveis: slots\n  }\n};"
      },
      "id": "node-build-llm-input",
      "name": "Code – Build LLM Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.baseUrl }}/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "llmApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $credentials.model || 'gpt-4' }}"
            },
            {
              "name": "messages",
              "value": "={{ JSON.stringify([\n  {\n    role: 'system',\n    content: `És um assistente de marcação para um estúdio de estética em Portugal.\nFala SEMPRE em português de Portugal.\nTom: amigável, profissional, direto, com frases curtas e claras para WhatsApp.\n\nObjetivo:\n1. Ajudar a pessoa a entender o que o chatbot faz\n2. Sugerir serviços baseado no que a pessoa diz (não listar todos de uma vez)\n3. Oferecer 2-3 horários disponíveis\n4. Confirmar uma marcação demo\n\nServiços disponíveis:\n${$json.servicosDisponiveis.map(s => `- ${s.nome} (${s.duracao}, ${s.preco})`).join('\\n')}\n\nHorários disponíveis para oferecer:\n${$json.slotsDisponiveis.map((s, i) => `${i+1}. ${s}`).join('\\n')}\n\nEstado atual da conversa: ${$json.estado}\nServiço escolhido: ${$json.servico || 'ainda não escolheu'}\nHorário escolhido: ${$json.slot || 'ainda não escolheu'}\n\nIMPORTANTE: A tua resposta DEVE ser APENAS um JSON válido, sem texto antes ou depois, no formato:\n{\n  \"reply\": \"mensagem para o utilizador em PT-PT\",\n  \"next_state\": \"inicio|a_explorar|a_escolher_servico|a_escolher_horario|confirmado\",\n  \"service\": \"nome do serviço ou vazio\",\n  \"slot\": \"horário escolhido ou vazio\",\n  \"should_schedule_reminder\": true/false,\n  \"should_reset\": false\n}\n\nUsa emojis moderadamente. Se a pessoa pedir reset/recomeçar, usa should_reset=true.\nQuando confirmares marcação, usa should_schedule_reminder=true e next_state=confirmado.`\n  },\n  ...$json.llmPayload.messages\n]) }}"
            },
            {
              "name": "temperature",
              "value": "0.7"
            },
            {
              "name": "max_tokens",
              "value": "500"
            }
          ]
        },
        "options": {}
      },
      "id": "node-llm-request",
      "name": "HTTP Request – LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300],
      "credentials": {
        "llmApi": {
          "id": "llm-api-credential",
          "name": "LLM API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FASE 3: Interpretar resposta da IA\n// Parse do JSON retornado pela IA e atualização do estado\n\nconst llmResponse = $input.item.json;\n\n// Tenta extrair o JSON da resposta\nlet aiDecision;\ntry {\n  // A resposta pode vir em diferentes formatos dependendo da API\n  let contentText = '';\n  \n  if (llmResponse.choices && llmResponse.choices[0]) {\n    // Formato OpenAI/similar\n    contentText = llmResponse.choices[0].message.content;\n  } else if (llmResponse.content) {\n    // Formato direto\n    contentText = llmResponse.content;\n  } else if (typeof llmResponse === 'string') {\n    contentText = llmResponse;\n  }\n  \n  // Remove possível markdown code blocks\n  contentText = contentText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  aiDecision = JSON.parse(contentText);\n} catch (e) {\n  // Fallback caso o parse falhe\n  aiDecision = {\n    reply: 'Desculpa, tive um problema técnico. Podes repetir? 😊',\n    next_state: 'inicio',\n    service: '',\n    slot: '',\n    should_schedule_reminder: false,\n    should_reset: false\n  };\n}\n\n// Garante defaults\nconst reply = aiDecision.reply || 'Desculpa, não percebi. Podes repetir?';\nconst nextState = aiDecision.next_state || 'inicio';\nconst service = aiDecision.service || '';\nconst slot = aiDecision.slot || '';\nconst shouldScheduleReminder = aiDecision.should_schedule_reminder || false;\nconst shouldReset = aiDecision.should_reset || false;\n\n// Recupera dados anteriores\nconst whatsapp = $('Code – Build LLM Input').item.json.whatsapp;\nconst userMessage = $('Code – Build LLM Input').item.json.userMessage;\nlet historicoStr = $('Code – Build LLM Input').item.json.historico;\n\n// Atualiza histórico\nlet historico = [];\ntry {\n  historico = JSON.parse(historicoStr);\n} catch (e) {\n  historico = [];\n}\n\n// Adiciona resposta do assistant\nhistorico.push({\n  role: 'assistant',\n  content: reply\n});\n\n// Limita histórico a últimas 20 mensagens (10 turnos)\nif (historico.length > 20) {\n  historico = historico.slice(-20);\n}\n\n// Se deve resetar, limpa tudo\nlet finalState, finalService, finalSlot, finalHistorico;\n\nif (shouldReset) {\n  finalState = 'inicio';\n  finalService = '';\n  finalSlot = '';\n  finalHistorico = JSON.stringify([]);\n} else {\n  finalState = nextState;\n  finalService = service;\n  finalSlot = slot;\n  finalHistorico = JSON.stringify(historico);\n}\n\nconst now = new Date().toISOString();\n\nreturn {\n  json: {\n    whatsapp,\n    estado: finalState,\n    servico: finalService,\n    slot: finalSlot,\n    historico: finalHistorico,\n    updatedAt: now,\n    to: whatsapp,\n    reply: reply,\n    scheduleReminder: shouldScheduleReminder\n  }\n};"
      },
      "id": "node-apply-decision",
      "name": "Code – Apply LLM Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "Bot_Demo_Chatbot_Estetica",
          "mode": "list",
          "cachedResultName": "Bot_Demo_Chatbot_Estetica"
        },
        "sheetName": {
          "__rl": true,
          "value": "sessoes_bot",
          "mode": "list",
          "cachedResultName": "sessoes_bot"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "whatsapp": "={{ $json.whatsapp }}",
            "estado": "={{ $json.estado }}",
            "servico": "={{ $json.servico }}",
            "slot": "={{ $json.slot }}",
            "historico": "={{ $json.historico }}",
            "updatedAt": "={{ $json.updatedAt }}"
          },
          "matchingColumns": ["whatsapp"],
          "schema": [
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "servico",
              "displayName": "servico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "slot",
              "displayName": "slot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "historico",
              "displayName": "historico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "node-update-session",
      "name": "Google Sheets – Update Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-oauth",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/={{ $credentials.phoneNumberId }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsappCloudApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ { body: $json.reply } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-send-whatsapp",
      "name": "HTTP Request – Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 300],
      "credentials": {
        "whatsappCloudApi": {
          "id": "whatsapp-cloud-api",
          "name": "WhatsApp Cloud API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.scheduleReminder }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-if-reminder",
      "name": "IF – Should Schedule Reminder",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 500]
    },
    {
      "parameters": {
        "jsCode": "// FASE 5: Calcular quando enviar o lembrete\n// Num cenário real, seria baseado no slot escolhido\n// Para demo, enviamos 1 minuto depois\n\nconst now = new Date();\nconst reminderTime = new Date(now.getTime() + 60 * 1000); // +1 minuto\n\nreturn {\n  json: {\n    whatsapp: $input.item.json.whatsapp,\n    servico: $input.item.json.servico,\n    slot: $input.item.json.slot,\n    reminderTime: reminderTime.toISOString(),\n    reminderTimestamp: reminderTime.getTime()\n  }\n};"
      },
      "id": "node-compute-reminder",
      "name": "Code – Compute Reminder Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 600]
    },
    {
      "parameters": {
        "resume": "dateTime",
        "dateTime": "={{ $json.reminderTime }}"
      },
      "id": "node-wait-reminder",
      "name": "Wait – Reminder",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2220, 600],
      "webhookId": "reminder-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/={{ $credentials.phoneNumberId }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsappCloudApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.whatsapp }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ { body: `⏰ Lembrete demo: tens agora a tua marcação simulada para o serviço ${$json.servico} às ${$json.slot}.\\n\\nNum projeto real, este lembrete seria enviado aos teus clientes. 😊` } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-send-reminder",
      "name": "HTTP Request – Send Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2440, 600],
      "credentials": {
        "whatsappCloudApi": {
          "id": "whatsapp-cloud-api",
          "name": "WhatsApp Cloud API"
        }
      }
    },
    {
      "parameters": {
        "content": "## FASE 1 – RECEBER MENSAGEM\n\n✅ Webhook recebe mensagem do WhatsApp Cloud API\n✅ Parse do payload (extrai número e mensagem)\n✅ Normalização do número de telefone",
        "height": 240,
        "width": 340,
        "color": 4
      },
      "id": "sticky-fase1",
      "name": "Sticky Note – Fase 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [220, 120]
    },
    {
      "parameters": {
        "content": "## FASE 2 – SESSÃO\n\n✅ Recupera ou cria sessão no Google Sheets\n✅ Estado, serviço, slot, histórico\n✅ Prepara contexto para IA (serviços disponíveis, slots)",
        "height": 240,
        "width": 340,
        "color": 5
      },
      "id": "sticky-fase2",
      "name": "Sticky Note – Fase 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [660, 120]
    },
    {
      "parameters": {
        "content": "## FASE 3 – CHAMAR IA\n\n✅ Monta prompt do sistema (recepcionista PT-PT)\n✅ Inclui histórico + mensagem atual\n✅ Envia para API LLM genérica\n✅ Recebe decisão em JSON",
        "height": 240,
        "width": 340,
        "color": 6
      },
      "id": "sticky-fase3",
      "name": "Sticky Note – Fase 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1100, 120]
    },
    {
      "parameters": {
        "content": "## FASE 4 – PROCESSAR & RESPONDER\n\n✅ Parse da resposta da IA\n✅ Atualiza estado, serviço, slot\n✅ Atualiza histórico no Sheets\n✅ Envia mensagem pelo WhatsApp",
        "height": 240,
        "width": 420,
        "color": 3
      },
      "id": "sticky-fase4",
      "name": "Sticky Note – Fase 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1320, 120]
    },
    {
      "parameters": {
        "content": "## FASE 5 – LEMBRETE DEMO\n\n✅ Se marcação confirmada, agenda lembrete\n✅ Wait de 1 minuto (demo)\n✅ Envia mensagem de lembrete\n\nℹ️ Num projeto real, o wait seria baseado na data/hora real da marcação",
        "height": 280,
        "width": 480,
        "color": 7
      },
      "id": "sticky-fase5",
      "name": "Sticky Note – Fase 5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1960, 440]
    },
    {
      "parameters": {
        "content": "# 🤖 DEMO CHATBOT ESTÉTICA – TESTAR BOT WHATSAPP IA\n\n**Objetivo:** Bot demo de marcação para landing page /chatbot-estetica\n\n**Fluxo:**\n1. Utilizador clica \"Testar Bot no WhatsApp\" na landing page\n2. WhatsApp abre com mensagem inicial\n3. Bot conversa em PT-PT, estilo recepcionista natural\n4. Sugere serviços, horários\n5. Confirma \"marcação demo\"\n6. Envia lembrete (1min depois, para demo)\n\n**Tech Stack:**\n• WhatsApp Cloud API\n• Google Sheets (sessão + estado)\n• LLM genérico (OpenAI-compatible)\n• Máquina de estados: inicio → a_explorar → a_escolher_servico → a_escolher_horario → confirmado",
        "height": 440,
        "width": 580,
        "color": 2
      },
      "id": "sticky-header",
      "name": "Sticky Note – Header",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [220, -380]
    }
  ],
  "connections": {
    "Webhook – Testar Bot": {
      "main": [
        [
          {
            "node": "Code – Parse WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code – Parse WhatsApp Message": {
      "main": [
        [
          {
            "node": "Google Sheets – Get/Upsert Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets – Get/Upsert Session": {
      "main": [
        [
          {
            "node": "Code – Build LLM Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code – Build LLM Input": {
      "main": [
        [
          {
            "node": "HTTP Request – LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request – LLM": {
      "main": [
        [
          {
            "node": "Code – Apply LLM Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code – Apply LLM Decision": {
      "main": [
        [
          {
            "node": "Google Sheets – Update Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF – Should Schedule Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets – Update Session": {
      "main": [
        [
          {
            "node": "HTTP Request – Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF – Should Schedule Reminder": {
      "main": [
        [
          {
            "node": "Code – Compute Reminder Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code – Compute Reminder Time": {
      "main": [
        [
          {
            "node": "Wait – Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait – Reminder": {
      "main": [
        [
          {
            "node": "HTTP Request – Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-20T00:00:00.000Z",
  "versionId": "1"
}
