n8n-workflows/WORKFLOW_1_MAIN_ATUALIZADO.json
{
  "name": "1_AMJ_Lead_System_v3.1_COMPLETO_Twilio_CORRIGIDO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5ffb30e9-bfc6-497f-9db2-4ebe35ad2628",
      "name": "🎯 Webhook - Captura Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        16,
        176
      ],
      "webhookId": "amj-lead-capture-webhook"
    },
    {
      "parameters": {
        "content": "## 📥 FASE 1: CAPTURA DE LEADS\n\n**Objetivo:** Receber leads do formulário /chatbot-estetica\n\n**Dados Capturados:**\n- Nome\n- Email\n- Instagram\n- WhatsApp\n- Timestamp\n- Dados técnicos (device, browser, OS, localização)\n\n**Próximo Passo:** Validação e enriquecimento",
        "height": 312,
        "width": 512,
        "color": 4
      },
      "id": "c2c3e83c-f1cf-4b7e-9bb5-ea482bea3f2b",
      "name": "Sticky Note - Fase 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        -144
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "b6d706b9-c5f2-4862-86e8-6ffb1b814111",
      "name": "🔄 Merge - Dados Webhook",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        240,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node – Validar e formatar lead para Google Sheets (multi-LP)\n\nconst items = $input.all();\nconst output = [];\n\nfunction pad2(n) {\n  return n.toString().padStart(2, '0');\n}\n\nfunction formatDateTime(date) {\n  // Ex.: 2025-11-19 19h43\n  return (\n    `${date.getFullYear()}-${pad2(date.getMonth() + 1)}-${pad2(date.getDate())} ` +\n    `${pad2(date.getHours())}h${pad2(date.getMinutes())}`\n  );\n}\n\nfunction titleCaseName(str) {\n  if (!str) return '';\n  return str\n    .toString()\n    .trim()\n    .toLowerCase()\n    .split(' ')\n    .filter(Boolean)\n    .map(p => p.charAt(0).toUpperCase() + p.slice(1))\n    .join(' ');\n}\n\nfunction capitalizeFirst(str) {\n  if (!str) return '';\n  const s = str.toString().trim();\n  if (!s) return '';\n  return s.charAt(0).toUpperCase() + s.slice(1);\n}\n\n// para garantir que nunca vai espaço antes do \"=\" do HYPERLINK\nfunction buildWhatsappFormula(numero, nome) {\n  if (!numero) return '';\n  const safeNome = nome || 'WhatsApp';\n  // usa ; como separador (pt-PT). Se teu ficheiro estiver em locale EN\n  // podes trocar por \",\" aqui.\n  return `=HYPERLINK(\"https://wa.me/${numero}\"; \"💬 ${safeNome}\")`;\n}\n\nfor (const item of items) {\n  const now = new Date();\n  const nowStr = formatDateTime(now);\n\n  // 1) Ler payload do webhook (pode vir em item.json.body ou direto em item.json)\n  let raw = item.json && item.json.body !== undefined ? item.json.body : item.json || {};\n  let lead;\n\n  if (typeof raw === 'string') {\n    try {\n      lead = JSON.parse(raw);\n    } catch (e) {\n      lead = {};\n    }\n  } else if (raw && typeof raw === 'object') {\n    lead = { ...raw };\n  } else {\n    lead = {};\n  }\n\n  // =========================\n  // CAMPOS BÁSICOS\n  // =========================\n\n  // Nome em Title Case\n  const nomeFormatado = titleCaseName(lead.nome || '');\n  lead.nome = nomeFormatado;\n\n  // Email\n  if (lead.email) {\n    lead.email = lead.email.toString().trim().toLowerCase();\n  }\n\n  // Instagram com @\n  if (lead.instagram) {\n    let ig = lead.instagram.toString().trim();\n    ig = ig.replace(/^@+/, '');\n    lead.instagram = ig ? '@' + ig : '';\n  }\n\n  // WhatsApp + link HYPERLINK\n  if (lead.whatsapp || lead.telefone) {\n    let w = (lead.whatsapp || lead.telefone).toString().replace(/\\D/g, '');\n    if (w && !w.startsWith('351')) {\n      w = '351' + w;\n    }\n    lead.whatsapp = w || '';\n\n    if (w) {\n      // ➡️ CORREÇÃO APLICADA AQUI: \n      // Usamos .replace(/^\\s+/, '') para remover qualquer espaço em branco (inclusive não-breaking space) no início\n      // O .trim() original já estava ok, mas esta regex é mais robusta contra caracteres invisíveis.\n      lead.linkWhatsapp = buildWhatsappFormula(w, nomeFormatado).replace(/^\\s+/, '');\n    } else {\n      lead.linkWhatsapp = '';\n    }\n  } else {\n    lead.whatsapp = '';\n    lead.linkWhatsapp = '';\n  }\n\n  // Idioma\n  if (lead.idioma_navegador) {\n    lead.idioma = lead.idioma_navegador.toString().trim();\n  } else if (!lead.idioma) {\n    lead.idioma = 'pt-PT';\n  }\n\n  // =========================\n  // ORIGEM / PÁGINA / DEVICE\n  // =========================\n\n  const origemCodigo =\n    (lead.origem || lead.origemCodigo || 'LP_Chatbot_Estetica').toString().trim();\n  const origemKey = origemCodigo.toLowerCase();\n\n  const paginaOrigem =\n    (lead.url_origem || lead.paginaOrigem ||\n      'https://www.alcinomenezesjunior.com').toString().trim();\n\n  lead.origemCodigo = origemCodigo;\n  lead.paginaOrigem = paginaOrigem;\n\n  const tipoDisp = (lead.tipo_dispositivo || '').toString().trim().toLowerCase();\n  let dispositivo = 'Desktop';\n  if (tipoDisp === 'mobile') dispositivo = 'Mobile';\n  else if (tipoDisp === 'desktop') dispositivo = 'Desktop';\n\n  const navegador =\n    (lead.navegador || lead.browser || '').toString().trim() || 'Outro';\n\n  const os =\n    (lead.sistema_operacional || lead.os || '').toString().trim() || 'Outro';\n\n  lead.dispositivo = dispositivo;\n  lead.navegador = navegador;\n  lead.os = os;\n\n  // Geo / referrer\n  lead.pais = (lead.country || lead.pais || 'Portugal').toString().trim();\n  lead.distrito = (lead.region || lead.distrito || '').toString().trim();\n  lead.cidade = (lead.city || lead.cidade || '').toString().trim();\n  lead.provedor = (lead.isp || lead.provedor || '').toString().trim();\n  lead.referrer =\n    (lead.url_referrer || lead.referrer || 'Direto').toString().trim();\n\n  // =========================\n  // FORMULÁRIO AVANÇADO\n  // =========================\n\n  const usaAutomacaoRaw =\n    (lead.usa_automacao || lead.usaAutomacao || '').toString().trim().toLowerCase();\n\n  const investimentoBruto =\n    (lead.investimento_ferramentas || lead.investimentoFerramentas || '')\n      .toString()\n      .trim();\n\n  const desafioBruto =\n    (lead.desafio_principal || lead.desafioPrincipal || '').toString().trim();\n\n  const usaAutomacaoTexto =\n    usaAutomacaoRaw === 'sim' ? 'Sim'\n      : (usaAutomacaoRaw === 'nao' || usaAutomacaoRaw === 'não') ? 'Não'\n      : 'não informou';\n\n  // converte para número (para poderes formatar como € no Sheets)\n  let investimentoNumero = 0;\n  if (investimentoBruto) {\n    const normalizado = investimentoBruto\n      .replace(/[^\\d,.-]/g, '')   // tira símbolos\n      .replace(',', '.');         // vírgula -> ponto\n    const num = parseFloat(normalizado);\n    if (!isNaN(num)) investimentoNumero = num;\n  }\n\n  // Desafio principal com 1ª letra maiúscula\n  const desafioPrincipal = capitalizeFirst(desafioBruto);\n\n  // guarda originais\n  lead.usa_automacao = usaAutomacaoRaw;\n  lead.investimento_ferramentas = investimentoBruto;\n  lead.desafio_principal = desafioPrincipal; // <-- já capitalizado\n\n  // e as versões \"bonitas\"\n  lead.usaAutomacao = usaAutomacaoRaw;\n  lead.investimentoFerramentas = investimentoNumero; // número\n  lead.desafioPrincipal = desafioPrincipal;          // 1ª letra maiúscula\n\n  // =========================\n  // INTERESSE / SERVIÇO / ORIGEM LABEL\n  // =========================\n\n  let interesse =\n    (lead.interesse || '').toString().trim() || desafioPrincipal;\n\n  let servico = (lead.servico || '').toString().trim();\n  let origemLabel = (lead.origemLabel || '').toString().trim();\n\n  if (!servico || !origemLabel) {\n    if (origemKey === 'lp_chatbot_estetica') {\n      servico = servico || 'Chatbot para Estúdios de Estética';\n      origemLabel = origemLabel || 'Landing Page /chatbot-estetica';\n    } else if (origemKey === 'lp_agencia') {\n      servico = servico || 'Gestão de Tráfego & Automação para Empresas';\n      origemLabel = origemLabel || 'Landing Page /agencia';\n    } else if (origemKey === 'lp_agentes_ia') {\n      servico = servico || 'Agentes de IA para Atendimento & Suporte';\n      origemLabel = origemLabel || 'Landing Page /agentes-ia';\n    } else if (origemKey === 'lp_pme') {\n      servico = servico || 'Marketing & Automação para PME Líder/Excelência';\n      origemLabel = origemLabel || 'Landing Page /pme';\n    } else {\n      servico = servico || 'Lead captado via landing page';\n      origemLabel = origemLabel || 'Landing Page (genérica)';\n    }\n  }\n\n  lead.interesse = interesse;\n  lead.servico = servico;\n  lead.origem = origemLabel;\n\n  // =========================\n  // NOTAS / STATUS / CONTROLO\n  // =========================\n\n  const investimentoTexto = investimentoBruto || 'não informou';\n\n  const notasEnriquecimento =\n    `Usa automação: ${usaAutomacaoTexto} | ` +\n    `Investimento em ferramentas: ${investimentoTexto} | ` +\n    `Desafio principal: ${desafioPrincipal || 'não informou'}`;\n\n  lead.notasEnriquecimento = lead.notasEnriquecimento || notasEnriquecimento;\n\n  lead.timestamp = nowStr;\n  lead.status = lead.status || 'Novo';\n  lead.dataContacto = lead.dataContacto || nowStr;\n  lead.meioContacto =\n    lead.meioContacto ||\n    `Formulário – LP ${origemCodigo.replace(/^lp_/i, '').replace(/_/g, ' ')}`;\n  lead.ultimaInteracao = lead.ultimaInteracao || nowStr;\n  lead.leadScore = lead.leadScore || 0;\n  lead.emailEnviado = lead.emailEnviado || 'Não';\n  lead.whatsappEnviado = lead.whatsappEnviado || 'Não';\n\n  if (!lead.pais) lead.pais = 'Portugal';\n  if (!lead.referrer) lead.referrer = 'Direto';\n\n  output.push({ json: lead });\n}\n\nreturn output;"
      },
      "id": "2d1d7481-9541-4c4d-b4e4-7ee323dd0828",
      "name": "⚙️ Code - Validar e Formatar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        160
      ]
    },
    {
      "parameters": {
        "content": "## 🔍 FASE 2: ENRIQUECIMENTO COM IA\n\n**Objetivo:** Analisar e enriquecer dados do lead\n\n**Agente IA:**\n- Modelo: Perplexity Sonar\n- Análise de perfil\n- Identificação de necessidades\n- Pesquisa de mercado local\n\n**Output:** Notas estruturadas sobre o lead",
        "height": 296,
        "width": 560,
        "color": 5
      },
      "id": "557283b4-623f-41be-86f0-080474a1bca2",
      "name": "Sticky Note - Fase 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        -144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-sonar-large-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um analista de mercado especializado em clínicas de estética em Portugal. Use suas capacidades de pesquisa online para encontrar informações atualizadas sobre o lead e o mercado.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analise este lead de clínica de estética e faça uma pesquisa completa:\\n\\n**DADOS DO LEAD:**\\nNome: {{ $json.nome }}\\nEmail: {{ $json.email }}\\nInstagram: {{ $json.instagram }}\\nWhatsApp: {{ $json.whatsapp }}\\nCidade: {{ $json.cidade }}, {{ $json.distrito }}\\nInteresse: {{ $json.interesse }}\\nServiço: {{ $json.servico }}\\nDispositivo: {{ $json.dispositivo }}\\n\\n**TAREFAS DE PESQUISA:**\\n\\n1. **Pesquise sobre a pessoa/clínica:**\\n   - Se o Instagram foi fornecido, tente encontrar informações sobre o perfil\\n   - Tipo de negócio (clínica estabelecida, profissional solo, novo negócio)\\n   - Presença digital existente\\n\\n2. **Contexto do mercado local:**\\n   - Pesquise sobre o mercado de estética em {{ $json.cidade }}\\n   - Concorrência na região\\n   - Tendências atuais (2024-2025)\\n\\n3. **Análise de necessidades:**\\n   - Com base no interesse manifestado: {{ $json.interesse }}\\n   - Dores típicas de clínicas deste porte\\n   - Oportunidades de automação específicas\\n\\n4. **Recomendações táticas:**\\n   - Qual pacote AMJ seria mais adequado? (Essencial €690+€179/mês, Pro €990+€279/mês, Enterprise €1490+€390/mês)\\n   - Pontos de dor prioritários a abordar\\n   - Ângulo de abordagem recomendado\\n\\n**FORMATO DE RESPOSTA:**\\nForneça uma análise estruturada em português de Portugal (máximo 600 palavras) com:\\n\\n### 📊 Perfil do Lead\\n[Descrição do negócio/profissional]\\n\\n### 🎯 Necessidades Identificadas\\n[Lista de 3-4 necessidades principais]\\n\\n### 💡 Oportunidades de Automação\\n[Como AMJ pode ajudar especificamente]\\n\\n### 🎁 Pacote Recomendado\\n[Essencial/Pro/Enterprise e porquê]\\n\\n### 📝 Abordagem Sugerida\\n[Como iniciar o contato - tom, ângulo, pontos-chave]\\n\\n**IMPORTANTE:**\\n- Use informações reais encontradas online quando disponível\\n- Se não encontrar informações específicas, faça inferências baseadas nos dados fornecidos e no mercado geral\\n- Foque em insights ACIONÁVEIS para vendas\\n- Seja conciso mas completo\"\n    }\n  ],\n  \"temperature\": 0.6,\n  \"max_tokens\": 1000\n}",
        "options": {}
      },
      "id": "957396ae-8f6c-4a4e-9846-c9062487171b",
      "name": "🔍 Perplexity - Enriquecimento Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        160
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Extrai análise do Perplexity e formata\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  let perplexityResponse;\n  \n  // Tenta extrair a resposta do Perplexity\n  try {\n    if (item.json.choices && item.json.choices[0]) {\n      perplexityResponse = item.json.choices[0].message.content;\n    } else if (item.json.message && item.json.message.content) {\n      perplexityResponse = item.json.message.content;\n    } else {\n      perplexityResponse = 'Análise não disponível - lead capturado para análise manual.';\n    }\n  } catch (error) {\n    perplexityResponse = 'Erro ao processar análise Perplexity - lead capturado para revisão.';\n  }\n  \n  // Pega dados do lead do input anterior\n  const leadData = $('⚙️ Code - Validar e Formatar').first().json;\n  \n  output.push({\n    json: {\n      ...leadData,\n      notasEnriquecimento: perplexityResponse\n    }\n  });\n}\n\nreturn output;"
      },
      "id": "3d006a71-ffbb-47a1-b5df-c97ff50547f3",
      "name": "⚙️ Code - Parse Perplexity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        160
      ]
    },
    {
      "parameters": {
        "content": "## 🎯 FASE 3: LEAD SCORING\n\n**Objetivo:** Calcular pontuação do lead\n\n**Agente IA:**\n- Modelo: GPT-4 Turbo\n- Critérios: Dados, Qualidade, Geografia, Interesse, Comportamento, Análise Perplexity\n\n**Classificação:**\n- 80-100: Quente 🔥\n- 50-79: Morno 🟡\n- 0-49: Frio ❄️",
        "height": 304,
        "width": 352,
        "color": 6
      },
      "id": "879c0be5-1c6a-43c6-9307-20d1da7cb19e",
      "name": "Sticky Note - Fase 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        -144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um especialista em lead scoring para o mercado B2B de automação em Portugal. Analise leads de forma objetiva e atribua pontuações baseadas em dados concretos.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Calcule o Lead Score deste potencial cliente de automação WhatsApp:\\n\\n**DADOS DO LEAD:**\\nNome: {{ $json.nome }}\\nEmail: {{ $json.email }}\\nInstagram: {{ $json.instagram }}\\nWhatsApp: {{ $json.whatsapp }}\\nCidade: {{ $json.cidade }}, {{ $json.distrito }}\\nDispositivo: {{ $json.dispositivo }}\\nNavegador: {{ $json.navegador }}\\nInteresse: {{ $json.interesse }}\\nServiço: {{ $json.servico }}\\nReferrer: {{ $json.referrer }}\\n\\n**ANÁLISE PERPLEXITY:**\\n{{ $json.notasEnriquecimento }}\\n\\n**CRITÉRIOS DE PONTUAÇÃO (Total: 100 pontos):**\\n\\n**1. COMPLETUDE DE DADOS (20 pontos):**\\n- Nome completo válido: +5pts\\n- Email profissional/válido: +5pts\\n- WhatsApp no formato correto: +5pts\\n- Instagram fornecido: +5pts\\n\\n**2. QUALIDADE DO CONTATO (25 pontos):**\\n- Instagram ativo/profissional: +10pts\\n- WhatsApp validado: +10pts\\n- Email corporativo (não Gmail/Hotmail): +5pts\\n\\n**3. CONTEXTO GEOGRÁFICO (15 pontos):**\\n- Grande centro urbano (Lisboa, Porto, Braga, Coimbra): +10pts\\n- Cidade média: +7pts\\n- Área turística (Algarve, Madeira): +5pts\\n\\n**4. INTERESSE E ESPECIFICIDADE (20 pontos):**\\n- Interesse muito específico/detalhado: +15pts\\n- Serviço claramente definido: +10pts\\n- Mencionou problema/dor específica: +5pts\\n\\n**5. COMPORTAMENTO DIGITAL (10 pontos):**\\n- Acesso mobile (típico de empreendedor ativo): +5pts\\n- Tráfego referenciado (não direto): +5pts\\n\\n**6. ANÁLISE PERPLEXITY (10 pontos):**\\n- Alta urgência detectada: +5pts\\n- Presença digital estabelecida: +3pts\\n- Mercado aquecido na região: +2pts\\n\\n**SUA TAREFA:**\\nRetorne APENAS um objeto JSON válido (sem markdown, sem explicações) com esta estrutura EXATA:\\n\\n{\\n  \\\"leadScore\\\": [número de 0-100],\\n  \\\"classificacao\\\": \\\"Quente 🔥\\\" ou \\\"Morno 🟡\\\" ou \\\"Frio ❄️\\\",\\n  \\\"probabilidadeConversao\\\": \\\"XX-YY%\\\",\\n  \\\"pontosPorCategoria\\\": {\\n    \\\"completudeDados\\\": [0-20],\\n    \\\"qualidadeContato\\\": [0-25],\\n    \\\"contextoGeografico\\\": [0-15],\\n    \\\"interesseEspecificidade\\\": [0-20],\\n    \\\"comportamentoDigital\\\": [0-10],\\n    \\\"analisePerplexity\\\": [0-10]\\n  },\\n  \\\"justificativa\\\": \\\"Breve explicação de 2-3 linhas do score\\\",\\n  \\\"proximosPassos\\\": \\\"Recomendação tática de abordagem\\\"\\n}\\n\\n**CLASSIFICAÇÃO:**\\n- 80-100 pontos = Quente 🔥 (Probabilidade: 70-90%)\\n- 50-79 pontos = Morno 🟡 (Probabilidade: 40-70%)\\n- 0-49 pontos = Frio ❄️ (Probabilidade: 10-40%)\\n\\n**IMPORTANTE:**\\n- Seja rigoroso mas justo\\n- Baseie-se em DADOS, não em suposições\\n- JSON deve ser válido e parseável\\n- NÃO adicione markdown (```json)\\n- Retorne APENAS o JSON\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "145e2b58-a18b-47bf-8437-2e78148006df",
      "name": "🎯 GPT-4 - Lead Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        160
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Parse Lead Score do GPT-4\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  let scoringData;\n  \n  try {\n    const gpt4Response = item.json.choices[0].message.content;\n    \n    // Remove markdown se houver\n    let cleanJson = gpt4Response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    \n    // Parse JSON\n    scoringData = JSON.parse(cleanJson);\n  } catch (error) {\n    // Fallback se JSON inválido\n    scoringData = {\n      leadScore: 50,\n      classificacao: 'Morno 🟡',\n      probabilidadeConversao: '40-70%',\n      justificativa: 'Score calculado com dados parciais - análise manual recomendada',\n      proximosPassos: 'Revisar manualmente e ajustar abordagem'\n    };\n  }\n  \n  // Pega dados anteriores do lead\n  const leadData = $('⚙️ Code - Parse Perplexity').first().json;\n  \n  // Monta observações detalhadas\n  const observacoes = `Score: ${scoringData.leadScore}/100 | ${scoringData.classificacao} | ${scoringData.justificativa}`;\n  \n  output.push({\n    json: {\n      ...leadData,\n      leadScore: scoringData.leadScore,\n      status: scoringData.classificacao,\n      probabilidadeConversao: scoringData.probabilidadeConversao,\n      observacoes: observacoes\n    }\n  });\n}\n\nreturn output;"
      },
      "id": "cad41ece-f7ef-47e6-8add-7d24ea360389",
      "name": "⚙️ Code - Parse Lead Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        160
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YZ6oN42skTdjYT9uVAuLHXwAhlgxqe9gphygHtXuxzI",
          "mode": "list",
          "cachedResultName": "Leads AMJ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YZ6oN42skTdjYT9uVAuLHXwAhlgxqe9gphygHtXuxzI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YZ6oN42skTdjYT9uVAuLHXwAhlgxqe9gphygHtXuxzI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "= {{ $json.timestamp }}",
            "nome": "= {{ $json.nome }}",
            "email": "= {{ $json.email }}",
            "instagram": "= {{ $json.instagram }}",
            "whatsapp": "= {{ $json.whatsapp }}",
            "status": "= {{ $json.status }}",
            "dataContacto": "= {{ $json.dataContacto }}",
            "meioContacto": "= {{ $json.meioContacto }}",
            "notasEnriquecimento": "= {{ $json.notasEnriquecimento }}",
            "leadScore": "= {{ $json.leadScore }}",
            "emailEnviado": "= {{ $json.emailEnviado }}",
            "whatsappEnviado": "= {{ $json.whatsappEnviado }}",
            "ultimaInteracao": "= {{ $json.ultimaInteracao }}",
            "interesse": "= {{ $json.interesse }}",
            "servico": "= {{ $json.servico }}",
            "origem": "= {{ $json.origem }}",
            "valorProposta": "= ",
            "probabilidadeConversao": "= {{ $json.probabilidadeConversao }}",
            "observacoes": "= {{ $json.observacoes }}",
            "dispositivo": "= {{ $json.dispositivo }}",
            "navegador": "= {{ $json.navegador }}",
            "os": "={{ $json.os }}",
            "pais": "= {{ $json.pais }}",
            "distrito": "= {{ $json.distrito }}",
            "cidade": "= {{ $json.cidade }}",
            "provedor": "= {{ $json.provedor }}",
            "referrer": "= {{ $json.referrer }}",
            "idioma": "={{ $json.idioma }}",
            "origemCodigo": "= {{ $json.origemCodigo }}",
            "paginaOrigem": "= {{ $json.paginaOrigem }}",
            "linkWhatsapp": "={{ $json.linkWhatsapp }}",
            "usaAutomacao": "= {{ $json.usa_automacao }}",
            "investimentoFerramentas": "= {{ $json.investimento_ferramentas }}",
            "desafioPrincipal": "={{ $json.desafio_principal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dataContacto",
              "displayName": "dataContacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "meioContacto",
              "displayName": "meioContacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notasEnriquecimento",
              "displayName": "notasEnriquecimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "leadScore",
              "displayName": "leadScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emailEnviado",
              "displayName": "emailEnviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsappEnviado",
              "displayName": "whatsappEnviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultimaInteracao",
              "displayName": "ultimaInteracao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "interesse",
              "displayName": "interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "servico",
              "displayName": "servico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valorProposta",
              "displayName": "valorProposta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "probabilidadeConversao",
              "displayName": "probabilidadeConversao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "observacoes",
              "displayName": "observacoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkWhatsapp",
              "displayName": "linkWhatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dispositivo",
              "displayName": "dispositivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "navegador",
              "displayName": "navegador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "os",
              "displayName": "os",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pais",
              "displayName": "pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "distrito",
              "displayName": "distrito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cidade",
              "displayName": "cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "provedor",
              "displayName": "provedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "referrer",
              "displayName": "referrer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idioma",
              "displayName": "idioma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "origemCodigo",
              "displayName": "origemCodigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "paginaOrigem",
              "displayName": "paginaOrigem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "usaAutomacao",
              "displayName": "usaAutomacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "investimentoFerramentas",
              "displayName": "investimentoFerramentas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "desafioPrincipal",
              "displayName": "desafioPrincipal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "83c905de-8859-4fa9-94cc-4876a9e71509",
      "name": "📊 Google Sheets - Salvar Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1440,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mIkSlt9IkIuDsP58",
          "name": "Google Sheets - Leads"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📧 FASE 4: EMAIL AUTOMÁTICO\n\n**Objetivo:** Enviar primeiro email personalizado\n\n**Processo:**\n1. IA (Claude) gera email customizado\n2. Notificação Telegram para aprovação\n3. Aguarda resposta humana\n4. Envia se aprovado\n\n**Timing:** Imediato após scoring\n\n**Próximo:** Email 2 em 24h",
        "height": 300,
        "width": 448,
        "color": 3
      },
      "id": "ac260d18-68ef-4500-b08c-d939734b744c",
      "name": "Sticky Note - Fase 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1504,
        -144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "[https://api.anthropic.com/v1/messages](https://api.anthropic.com/v1/messages)",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2000,\n  \"temperature\": 0.8,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Você é um copywriter português especializado em emails de vendas B2B para clínicas de estética. Seu estilo é profissional mas caloroso, consultivo e empático.\\n\\n**CONTEXTO DO NEGÓCIO AMJ:**\\nVendemos automação de WhatsApp para clínicas de estética em Portugal. Nosso foco é resolver problemas de comunicação, perda de clientes por demora nas respostas, e aumentar conversões através de automação inteligente com IA.\\n\\n**PACOTES AMJ:**\\n- Essencial: €690 setup + €179/mês\\n- Pro: €990 setup + €279/mês\\n- Enterprise: €1490 setup + €390/mês\\n\\n**DADOS DO LEAD:**\\nNome: {{ $json.nome }}\\nEmail: {{ $json.email }}\\nCidade: {{ $json.cidade }}, {{ $json.distrito }}\\nInstagram: {{ $json.instagram }}\\nInteresse manifestado: {{ $json.interesse }}\\nServiço específico: {{ $json.servico }}\\nLead Score: {{ $json.leadScore }}/100\\nClassificação: {{ $json.status }}\\n\\n**ANÁLISE COMPLETA DO LEAD (Perplexity):**\\n{{ $json.notasEnriquecimento }}\\n\\n**ANÁLISE DE SCORING (GPT-4):**\\n{{ $json.observacoes }}\\n\\n---\\n\\n**SUA MISSÃO:**\\nCrie um email de boas-vindas ALTAMENTE PERSONALIZADO que soe genuinamente escrito por um humano português. Este é o PRIMEIRO contato - deve construir confiança antes de vender.\\n\\n**ESTRUTURA OBRIGATÓRIA:**\\n\\n**ASSUNTO:** (Crie 1 opção criativa, personalizada com nome e cidade)\\nExemplo: \\\"{{ $json.nome }}, como anda a gestão de clientes em {{ $json.cidade }}?\\\"\\n\\n**CORPO DO EMAIL:**\\n\\n**1. ABERTURA ULTRA-PERSONALIZADA (3-4 linhas)**\\n- Cumprimento pelo nome\\n- Referência ESPECÍFICA à cidade ou região\\n- Conexão com o interesse manifestado: {{ $json.interesse }}\\n- Tom: Como se conhecesse a pessoa há algum tempo\\n\\n**2. EMPATIA COM DESAFIO ESPECÍFICO (4-5 linhas)**\\n- Identifique UMA dor específica baseada na análise Perplexity\\n- Use dados reais: 'Clínicas em Portugal perdem 30-40% dos leads por resposta lenta no WhatsApp'\\n- Conte brevemente uma história de outra clínica similar (sem nomes)\\n- Crie sensação de 'ele entende mesmo o meu problema'\\n\\n**3. CURIOSIDADE SEM PITCH (3-4 linhas)**\\n- Mencione que trabalha com clínicas de estética em Portugal\\n- Foco em resultados (não em produto): 'Ajudo clínicas a responder todos os WhatsApp em menos de 2 minutos, 24/7'\\n- NÃO mencionar preços ou pacotes ainda\\n- Plantar semente de solução\\n\\n**4. SOCIAL PROOF SUTIL (2-3 linhas)**\\n- Mencione sucesso com clínicas portuguesas (sem nomes específicos)\\n- Número concreto: 'Clínicas reduziram 60% do tempo gasto em WhatsApp'\\n- Deve soar factual, não comercial\\n\\n**5. CALL-TO-ACTION SUAVE (2-3 linhas)**\\n- Ofereça demonstração gratuita de 15min\\n- Frase: 'Quer ver como funcionaria na sua clínica em {{ $json.cidade }}?'\\n- Link: [PLACEHOLDER_CALENDAR_LINK]\\n- Alternativa: 'Responda este email com 'SIM' e agendamos'\\n\\n**6. ASSINATURA PROFISSIONAL MAS CALOROSA**\\nUm abraço,\\nAlcino Menezes Júnior\\nFundador da AMJ Automação & IA\\nEspecialista em Automação para Clínicas de Estética\\nWhatsApp: +351 926 698 959\\nalcinomenezesjunior.com\\n\\n**P.S.** [Adicione um P.S. relevante baseado na análise do lead - pode ser uma curiosidade, estatística ou pergunta provocativa]\\n\\n---\\n\\n**DIRETRIZES DE TOM E ESTILO:**\\n\\n✅ **FAZER:**\\n- Usar português de Portugal natural (você/sua, não tu/tua)\\n- Parecer escrito por humano, não por IA\\n- Personalizar com detalhes específicos do lead\\n- Ser consultivo, empático e profissional\\n- Máximo 450 palavras\\n- Parágrafos curtos (2-4 linhas)\\n- Uma emoção: interesse genuíno em ajudar\\n\\n❌ **NÃO FAZER:**\\n- Linguagem muito formal/corporativa\\n- Paredes de texto\\n- Excesso de adjetivos\\n- Emojis no corpo (só no assunto se fizer sentido)\\n- Mencionar preços neste primeiro email\\n- Frases feitas ou clichês\\n- Tom de vendedor desesperado\\n\\n**IMPORTANTE:**\\n- Este email será enviado após aprovação humana via Telegram\\n- Deve ter taxa de resposta alta (>15%)\\n- Lead deve pensar: 'Esta pessoa entende o meu negócio'\\n- Foco em VALOR e CONFIANÇA, não em venda imediata\\n\\n---\\n\\n**OUTPUT ESPERADO:**\\nForneça o email completo (assunto + corpo) pronto para enviar. Não adicione explicações, comentários ou markdown. Apenas o email puro em texto.\\n\\nCOMECE AGORA:\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "e77a8238-c047-4eb4-b65a-ee4bce0db8f9",
      "name": "✉️ Claude - Gerar Email 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        160
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Parse email gerado pelo Claude\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  let emailContent;\n  \n  try {\n    // Claude retorna no formato diferente do OpenAI\n    emailContent = item.json.content[0].text;\n  } catch (error) {\n    emailContent = 'Erro ao gerar email - revisão manual necessária.';\n  }\n  \n  // Separa assunto do corpo\n  const lines = emailContent.split('\\n').filter(line => line.trim().length > 0);\n  let subject = '';\n  let body = '';\n  let foundBody = false;\n  \n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    \n    if (line.toLowerCase().includes('assunto:') && !subject) {\n      subject = line.replace(/.*assunto:/i, '').trim();\n    } else if (line.toLowerCase().includes('corpo do email:') || line.toLowerCase().includes('corpo:')) {\n      foundBody = true;\n      continue;\n    } else if (foundBody && line.trim().length > 0) {\n      body += line + '\\n';\n    } else if (!subject && !foundBody && i === 0) {\n      // Primeira linha pode ser o assunto\n      subject = line.trim();\n    } else if (i > 0 && !foundBody) {\n      body += line + '\\n';\n    }\n  }\n  \n  // Fallback se não encontrou marcadores claros\n  if (!subject && lines.length > 0) {\n    subject = lines[0].substring(0, 100); // Primeiros 100 chars\n  }\n  \n  if (!body) {\n    body = lines.slice(1).join('\\n');\n  }\n  \n  // Limpa formatação markdown se houver\n  body = body.replace(/\\*\\*/g, '').replace(/\\*/g, '').trim();\n  subject = subject.replace(/\\*\\*/g, '').replace(/\\*/g, '').replace(/\"/g, '').trim();\n  \n  // Pega dados do lead\n  const leadData = $('⚙️ Code - Parse Lead Score').first().json;\n  \n  output.push({\n    json: {\n      ...leadData,\n      emailSubject: subject,\n      emailBody: body\n    }\n  });\n}\n\nreturn output;"
      },
      "id": "5bd3797b-26e1-497b-a4ef-fe189321ce48",
      "name": "⚙️ Code - Parse Email Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        160
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🔔 **NOVO LEAD AMJ - APROVAÇÃO NECESSÁRIA**\n\n**Lead #{{ $json.leadScore }}** - {{ $json.status }}\n\n👤 **Nome:** {{ $json.nome }}\n📧 **Email:** {{ $json.email }}\n📱 **WhatsApp:** {{ $json.whatsapp }}\n📍 **Localização:** {{ $json.cidade }}, {{ $json.distrito }}\n🎯 **Interesse:** {{ $json.interesse }}\n\n**📊 Score:** {{ $json.leadScore }}/100\n**🎲 Conversão:** {{ $json.probabilidadeConversao }}\n\n**📝 ANÁLISE IA:**\n{{ $json.notasEnriquecimento }}\n\n---\n\n**✉️ EMAIL GERADO:**\n\n**Assunto:** {{ $json.emailSubject }}\n\n{{ $json.emailBody }}\n\n---\n\n**APROVAR ENVIO?**\n\n✅ Digite: `/aprovar email {{ $json.email }}`\n❌ Digite: `/rejeitar email {{ $json.email }}`\n✏️ Editar: `/editar email {{ $json.email }}`",
        "additionalFields": {}
      },
      "id": "40d4fb21-f5ce-4dda-bcbb-39ae8f73158f",
      "name": "📲 Telegram - Pedir Aprovação",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2032,
        160
      ],
      "webhookId": "4c1c2491-cd4f-408e-a63e-ebb3dc72c827",
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "fd847251-9c31-4820-a753-799d168d57d9",
      "name": "📱 Telegram - Receber Resposta",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        1840,
        368
      ],
      "webhookId": "telegram-approval-webhook",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text }}",
              "operation": "contains",
              "value2": "/aprovar email"
            }
          ]
        }
      },
      "id": "364e54ab-0113-4b14-a239-603c1f073283",
      "name": "❓ IF - Email Aprovado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2032,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extrai email do comando Telegram\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const command = item.json.message.text;\n  const emailMatch = command.match(/\\/aprovar email (.+)/);\n  \n  if (emailMatch) {\n    output.push({\n      json: {\n        approvedEmail: emailMatch[1].trim()\n      }\n    });\n  }\n}\n\nreturn output;"
      },
      "id": "9c8307b3-ffcf-40c5-836e-65e013cdb826",
      "name": "⚙️ Code - Extrair Email Aprovado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        272
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YZ6oN42skTdjYT9uVAuLHXwAhlgxqe9gphygHtXuxzI",
          "mode": "list",
          "cachedResultName": "Leads AMJ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YZ6oN42skTdjYT9uVAuLHXwAhlgxqe9gphygHtXuxzI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YZ6oN42skTdjYT9uVAuLHXwAhlgxqe9gphygHtXuxzI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{$json.approvedEmail}}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "c30b9272-eada-4142-969d-1ae9d89fd666",
      "name": "🔍 Sheets - Buscar Lead Aprovado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2432,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mIkSlt9IkIuDsP58",
          "name": "Google Sheets - Leads"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "contato@alcinomenezesjunior.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.emailSubject }}",
        "options": {}
      },
      "id": "20f2ed61-bc0e-445a-bd3f-2de4eb100403",
      "name": "📧 Email - Enviar ao Lead",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2640,
        272
      ],
      "webhookId": "974e6fd5-6a26-477d-aa19-9d08a6946ddc",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1YZ6oN42skTdjYT9uVAuLHXwAhlgxqe9gphygHtXuxzI",
          "mode": "list",
          "cachedResultName": "Leads AMJ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YZ6oN42skTdjYT9uVAuLHXwAhlgxqe9gphygHtXuxzI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YZ6oN42skTdjYT9uVAuLHXwAhlgxqe9gphygHtXuxzI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{$json.email}}",
            "emailEnviado": "Sim - Email 1",
            "ultimaInteracao": "={{$now.toISO()}}",
            "meioContacto": "Email",
            "dataContacto": "={{$now.toFormat('dd/MM/yyyy HH:mm')}}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dataContacto",
              "displayName": "dataContacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meioContacto",
              "displayName": "meioContacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notasEnriquecimento",
              "displayName": "notasEnriquecimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "leadScore",
              "displayName": "leadScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "emailEnviado",
              "displayName": "emailEnviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsappEnviado",
              "displayName": "whatsappEnviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ultimaInteracao",
              "displayName": "ultimaInteracao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interesse",
              "displayName": "interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "servico",
              "displayName": "servico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valorProposta",
              "displayName": "valorProposta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "probabilidadeConversao",
              "displayName": "probabilidadeConversao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "observacoes",
              "displayName": "observacoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkWhatsapp",
              "displayName": "linkWhatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dispositivo",
              "displayName": "dispositivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "navegador",
              "displayName": "navegador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "os",
              "displayName": "os",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pais",
              "displayName": "pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "distrito",
              "displayName": "distrito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cidade",
              "displayName": "cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provedor",
              "displayName": "provedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "referrer",
              "displayName": "referrer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idioma",
              "displayName": "idioma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "origemCodigo",
              "displayName": "origemCodigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paginaOrigem",
              "displayName": "paginaOrigem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7f5ed969-3092-4a41-a613-89a9128661dd",
      "name": "✅ Sheets - Marcar Email Enviado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2832,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mIkSlt9IkIuDsP58",
          "name": "Google Sheets - Leads"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ **EMAIL ENVIADO COM SUCESSO**\n\n👤 Lead: {{ $json.nome }}\n📧 Email: {{ $json.email }}\n⏰ Enviado: {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\n\n🎯 Próximos Passos:\n- Email 2: Automático em 24h\n- WhatsApp: Automático após Email 2 (48h)\n\n📊 Status atualizado no Google Sheets",
        "additionalFields": {}
      },
      "id": "e64f1c8d-213e-49f3-8c7c-90f356e1859c",
      "name": "✅ Telegram - Confirmar Envio",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3040,
        272
      ],
      "webhookId": "a401fab6-5e20-4ef2-a065-70cc4804d278",
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=❌ **EMAIL REJEITADO**\n\n👤 Lead: {{ $json.nome }}\n📧 Email: {{ $json.email }}\n\n💡 Você pode:\n1. Enviar email manualmente\n2. Aguardar novo lead\n3. Editar e reenviar",
        "additionalFields": {}
      },
      "id": "2cd3d269-0d65-44dd-abad-df6cec598433",
      "name": "❌ Telegram - Email Rejeitado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        464
      ],
      "webhookId": "1d130319-d00a-4821-928d-500dedf7fb66",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 🎉 FASE 5: ATIVAÇÃO DE FOLLOW-UPS\n\n**Objetivo:** Iniciar sequências automáticas\n\n**Workflows Ativados:**\n1. ✉️ Email 2 (24h)\n2. 📱 WhatsApp Twilio (48h)\n3. 🔄 Nurturing (leads mornos)\n\n**Critério:** Baseado no Lead Score\n\n**Status:** Sistema completo ativo",
        "height": 280,
        "width": 496,
        "color": 7
      },
      "id": "61aea5dc-69d1-43d6-8d7c-d65f8519dcd1",
      "name": "Sticky Note - Fase 5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3200,
        -128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.leadScore }}",
              "operation": "largerEqual",
              "value2": 50
            }
          ]
        }
      },
      "id": "37c10aeb-5708-4af6-845c-de42ce7c8712",
      "name": "🔥 IF - Lead Quente/Morno?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3232,
        272
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ 'AMJ_Email_Sequence_2' }}",
        "options": {}
      },
      "id": "07eb80ad-436f-40f0-96c9-f7fe40b3416b",
      "name": "⏰ Execute - Email Sequence 2",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3440,
        160
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ 'AMJ_WhatsApp_Twilio_Followup' }}",
        "options": {}
      },
      "id": "e5801f51-cc30-4e55-8cc8-e4a495220a27",
      "name": "📱 Execute - WhatsApp Followup",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3440,
        272
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ 'AMJ_Lead_Nurturing' }}",
        "options": {}
      },
      "id": "b70faadd-1ffd-4377-9f18-76f6516ea4ab",
      "name": "🌱 Execute - Lead Nurturing",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3440,
        464
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Lead capturado e processado com sucesso!\",\n  \"leadEmail\": $json.email,\n  \"leadScore\": $json.leadScore,\n  \"status\": $json.status,\n  \"timestamp\": $now.toISO()\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "219e481b-fc5c-43ab-88c3-1fed7b59be0d",
      "name": "✅ Webhook Response - Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3632,
        272
      ]
    },
    {
      "parameters": {
        "content": "## 📋 INSTRUÇÕES DE CONFIGURAÇÃO\n\n**1. Google Sheets:**\n- Criar planilha \"Leads captados\"\n- Copiar ID do URL\n- Colar em todos nodes Google Sheets\n\n**2. Credenciais API:**\n- Perplexity API Key\n- OpenAI API Key\n- Anthropic API Key\n\n**3. Telegram Bot:**\n- Criar bot com @BotFather\n- Copiar token\n- Obter Chat ID\n\n**4. Testar:**\n- Enviar lead teste\n- Verificar Google Sheets\n- Aprovar no Telegram\n- Confirmar email recebido",
        "height": 572,
        "width": 510,
        "color": 2
      },
      "id": "18d570c7-6b01-4999-901b-0c2de9b908ca",
      "name": "Sticky Note - Instruções",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        368
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "🎯 Webhook - Captura Lead": {
      "main": [
        [
          {
            "node": "🔄 Merge - Dados Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔄 Merge - Dados Webhook",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔄 Merge - Dados Webhook": {
      "main": [
        [
          {
            "node": "⚙️ Code - Validar e Formatar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Code - Validar e Formatar": {
      "main": [
        [
          {
            "node": "🔍 Perplexity - Enriquecimento Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Perplexity - Enriquecimento Lead": {
      "main": [
        [
          {
            "node": "⚙️ Code - Parse Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Code - Parse Perplexity": {
      "main": [
        [
          {
            "node": "🎯 GPT-4 - Lead Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 GPT-4 - Lead Scoring": {
      "main": [
        [
          {
            "node": "⚙️ Code - Parse Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Code - Parse Lead Score": {
      "main": [
        [
          {
            "node": "📊 Google Sheets - Salvar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Google Sheets - Salvar Lead": {
      "main": [
        [
          {
            "node": "✉️ Claude - Gerar Email 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✉️ Claude - Gerar Email 1": {
      "main": [
        [
          {
            "node": "⚙️ Code - Parse Email Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Code - Parse Email Claude": {
      "main": [
        [
          {
            "node": "📲 Telegram - Pedir Aprovação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Telegram - Receber Resposta": {
      "main": [
        [
          {
            "node": "❓ IF - Email Aprovado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ IF - Email Aprovado?": {
      "main": [
        [
          {
            "node": "⚙️ Code - Extrair Email Aprovado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Telegram - Email Rejeitado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Code - Extrair Email Aprovado": {
      "main": [
        [
          {
            "node": "🔍 Sheets - Buscar Lead Aprovado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Sheets - Buscar Lead Aprovado": {
      "main": [
        [
          {
            "node": "📧 Email - Enviar ao Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Email - Enviar ao Lead": {
      "main": [
        [
          {
            "node": "✅ Sheets - Marcar Email Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Sheets - Marcar Email Enviado": {
      "main": [
        [
          {
            "node": "✅ Telegram - Confirmar Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Telegram - Confirmar Envio": {
      "main": [
        [
          {
            "node": "🔥 IF - Lead Quente/Morno?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔥 IF - Lead Quente/Morno?": {
      "main": [
        [
          {
            "node": "⏰ Execute - Email Sequence 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "📱 Execute - WhatsApp Followup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🌱 Execute - Lead Nurturing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Execute - Email Sequence 2": {
      "main": [
        [
          {
            "node": "✅ Webhook Response - Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Execute - WhatsApp Followup": {
      "main": [
        [
          {
            "node": "✅ Webhook Response - Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌱 Execute - Lead Nurturing": {
      "main": [
        [
          {
            "node": "✅ Webhook Response - Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2541ea7-2602-4950-b85e-1cbd14af615f",
  "meta": {
    "instanceId": "323c9b0d593df2deec4f9143de66619f0d3c68bbcf06bc32eb698efedd85ea5f"
  },
  "id": "UhpwEBmsBBUD1QV3",
  "tags": [
    {
      "updatedAt": "2025-11-18T20:36:33.297Z",
      "createdAt": "2025-11-18T20:36:33.297Z",
      "id": "8jzGLWnjkwh0RysZ",
      "name": "Lead Management"
    },
    {
      "updatedAt": "2025-11-18T20:36:33.307Z",
      "createdAt": "2025-11-18T20:36:33.307Z",
      "id": "lyvHCdwLjD0X89cB",
      "name": "AMJ Automation"
    }
  ]
}
