chatbot-estetica/chatbot-estetica-demo/v2-ai-agent/workflows/BACKEND_ESSENZA_ATUALIZADO.json
{
  "name": "BACKEND_ESSENZA_ATUALIZADO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "testar-bot-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "98a051aa-49cf-4161-b07d-d0dcfdc2e588",
      "name": "Webhook WhatsApp1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -848,
        1264
      ],
      "webhookId": "essenza-prime-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst phone = body.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.from || '';\nconst messageText = body.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.text?.body || '';\nconst messageId = body.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.id || '';\n\nif (!phone || !messageText) {\n  return { json: { skip: true, reason: 'No valid message' } };\n}\n\nreturn {\n  json: {\n    skip: false,\n    phone: phone,\n    message: messageText,\n    messageId: messageId,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "275fdb77-5c99-4831-bcc5-7d456f5f5f11",
      "name": "Parse Message1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        1264
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.skip}}",
              "value2": false
            }
          ]
        },
        "options": {}
      },
      "id": "86c3e7ac-3fde-4131-84a4-fdf57e0c2fc8",
      "name": "Valid Message?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        1264
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clients",
        "filterType": "string",
        "filterString": "=phone=eq.{{ $('Parse Message1').item.json.phone }}"
      },
      "id": "8b82c5f1-af39-4ab9-9e61-e1e40f28529c",
      "name": "Get Client1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -176,
        1264
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5FmNwSU32HCxPptn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $node[\"Get Client1\"].json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "greaterThan"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd0e38b2-294b-404b-be8a-d7bb06d9df23",
      "name": "Client Exists?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        48,
        1264
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "clients",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "=={{ $node[\"Parse Message1\"].json.phone }}"
            }
          ]
        }
      },
      "id": "bb161a4e-9a4c-450f-f949-23752a06987c",
      "name": "Create Client1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        1336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "5FmNwSU32HCxPptn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conversations",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "=={{ $('Parse Message1').item.json.phone }}"
            }
          ]
        }
      },
      "id": "7bc0187a-4921-48a0-b6ad-7e16168e0b07",
      "name": "Get Conversation1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        496,
        1264
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5FmNwSU32HCxPptn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parseData = $('Parse Message1').first().json;\n\n// Pega os dados do cliente: do Get Client1 se encontrou, ou do Create Client1 se criou.\nconst getClientResult = $('Get Client1').first().json;\nconst clientData = getClientResult.length > 0 ? getClientResult[0] : $('Create Client1').first().json;\n\n// Pega dados da conversa (pode vir de Create ou Update)\nconst conversationData = $input.first().json;\n\nreturn {\n  json: {\n    phone: parseData.phone,\n    message: parseData.message,\n    messageId: parseData.messageId,\n    clientId: clientData.id,\n    clientName: clientData.name || 'Cliente',\n    conversationId: conversationData.id,\n    timestamp: parseData.timestamp\n  }\n};"
      },
      "id": "f1cfd968-e393-469c-8f43-00ad74a09e03",
      "name": "Merge Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        1264
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn {\n  json: {\n    responseText: `✅ Olá ${data.clientName}!\\n\\nRecebi a tua mensagem: \"${data.message}\"\\n\\n⚠️ Este é um backend de teste. O AI Agent será adicionado em breve!`,\n    phone: data.phone,\n    clientId: data.clientId\n  }\n};"
      },
      "id": "b5ae3b11-0c06-4d4c-b3e8-255f1abe8612",
      "name": "Generate Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        1264
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/803198829554410/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.responseText }}\"\n  }\n}",
        "options": {}
      },
      "id": "66963c8f-32a8-454b-bfa0-568abbdadd0b",
      "name": "Send WhatsApp1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        1264
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "msDucOJHTeBau1zJ",
          "name": "WhatsApp API Cloud"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\"}",
        "options": {}
      },
      "id": "2249ff24-117e-4985-b45d-7e08c34bef37",
      "name": "Respond1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1840,
        1264
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "conversations",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "=={{ $('Parse Message1').item.json.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "updated_at",
              "fieldValue": "=={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        1168
      ],
      "id": "446f4dcf-6926-4b27-802a-0ecbd4204ed3",
      "name": "Update Conversation1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5FmNwSU32HCxPptn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5a597b0b-444e-47c2-8db8-0bb318c9d894",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        1264
      ],
      "id": "bb6c4a65-6711-4930-92c2-40dcf35e183d",
      "name": " Conversation Exists?1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "client_id",
              "fieldValue": "=={{ $('Merge Data1').item.json.clientId }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "=={{ $('Parse Message1').item.json.phone }}"
            },
            {
              "fieldId": "current_state",
              "fieldValue": "inicio"
            },
            {
              "fieldId": "messages",
              "fieldValue": "=[]"
            },
            {
              "fieldId": "context",
              "fieldValue": "={}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        1360
      ],
      "id": "529246f1-6934-4fa7-953f-01bed627c316",
      "name": "Create Conversation1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5FmNwSU32HCxPptn",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook WhatsApp1": {
      "main": [
        [
          {
            "node": "Parse Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message1": {
      "main": [
        [
          {
            "node": "Valid Message?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Message?1": {
      "main": [
        [
          {
            "node": "Get Client1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client1": {
      "main": [
        [
          {
            "node": "Client Exists?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Exists?1": {
      "main": [
        [
          {
            "node": "Get Conversation1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Client1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client1": {
      "main": [
        [
          {
            "node": "Get Conversation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation1": {
      "main": [
        [
          {
            "node": " Conversation Exists?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data1": {
      "main": [
        [
          {
            "node": "Generate Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response1": {
      "main": [
        [
          {
            "node": "Send WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp1": {
      "main": [
        [
          {
            "node": "Respond1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation1": {
      "main": [
        [
          {
            "node": "Merge Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Conversation Exists?1": {
      "main": [
        [
          {
            "node": "Update Conversation1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Conversation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Conversation1": {
      "main": [
        [
          {
            "node": "Merge Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4067f545-d003-4d8f-8b03-a819199c97c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "323c9b0d593df2deec4f9143de66619f0d3c68bbcf06bc32eb698efedd85ea5f"
  },
  "id": "QRVeg9dVcQX734Wd",
  "tags": [
    {
      "updatedAt": "2025-11-21T19:39:50.299Z",
      "createdAt": "2025-11-21T19:39:50.299Z",
      "id": "Qf97p5PodNtekeTK",
      "name": "Demo - Essenza Prime"
    }
  ]
}